
@{
    ViewBag.Title = "Hatali";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Hatali:</h2>
    <p>Kredi kartınızdan para çekilemedi Lütfen bankanızla görüşün.</p>
    </div>>