
@{
    ViewBag.Title = "Tamamlandi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Şipariş Tamamlandi</h2>

    <p>
        Ödeme işleminiz başarılı bir şekilde gerçekleşmiştir.
        Lütfen hesabım sayfanızdan sipariş durumunuzu kontorol ediniz.

    </p>
    <p>STARK MSS TERCİH ETTİĞİNİZ İÇİN TEŞEKKÜR EDERİZ.</p>
    </div>