
@{
    ViewBag.Title = "SSS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h2 class="page-header-center mt-3">Sıkça  Sorulan <strong>Sorular</strong></h2>

    <div class="row">
        <div class="col">
            <p class="lead"> Merkezi Süpürge Sistemi ile alakalı sıkça sorulan sorulara göz atabilirsiniz. Sizlere Merkezi Süpürge Sistemini daha rahat anlamanızı ve kullanmanızı sağlayacak birçok soru ve cevap mevcut olup aklınıza takılan fakat sayfamızda bulunmayan soruları iletişim sayfamızdan bizlere gönderebilirsiniz. </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col">

            <div class="toggle toggle-primary" data-plugin-toggle>
                <section class="toggle active">
                    <label>Merkezi Süpürge Sistemi Nedir?</label>
                    <p>Merkezi süpürge sistemi, sabit bir şekilde tek bir motorun kullanıldığı ve süpürme işleminde yeni teknolojiyle pratikliği sağlayan STARK adı altındaki sistemimizdir. İsminden de anlaşılacağı gibi ana ünite; garaj, kiler, depo, balkon... vs yaşam alanı dışına veya kullanılabilir alana monte edilebilir. Yapılan tesisat planıyla temizlik hortumu prizler vasıtasıyla ana vakum ünitesine bağlanır.</p>
                </section>

                <section class="toggle">
                    <label>Toz Torbasını Ne Sıklıkla Değiştirmeliyim?</label>
                    <p>Toz torbalarının hacmi 20lt olup teste tabii tutulma sonrasında kullanıma bağlı olarak 1 seneye kadar değiştirilmeden kullanılabilir.</p>
                </section>


                <section class="toggle">
                    <label>Cihazımı maksimum verimde kullanmak için ne yapmalıyım ?</label>
                    <p>Kullanım talimatının dışına çıkılmadığı takdirde maksimum verim elde edeceğinizi söyleyebiliriz. </p>
                </section>



                <section class="toggle">
                    <label>Teknik destek ekibini ne gibi durumlarda çağırabilirim?</label>
                    <p>
                        Cihazınız çalışma esnasında durduğunda, istenilmeyen bir cisim çekildiğinde ve bundan kaynaklı çekim gücüne yansıdığında, toz torbasını değiştirme esnasında istenmeyen bir şekilde cihaza zarar verildiğinde ve bu gibi sorunlarda teknik destek daima yanınızda olacaktır.
                    </p>
                </section>

                <section class="toggle">
                    <label>Kullandığım cihaz için aksesuar, malzeme ve yedek parçayı nereden temin edebilirim?</label>
                    <p>Tüm ekipman ve yedek parçayı web sitemiz  olan www.starkmss.com adresinden rahatlıkla temin edebilirsiniz.</p>
                </section>

                <section class="toggle">
                    <label>Garanti koşulları nelerdir? Geçerlilik süresi ne kadardır?</label>
                    <p>Garanti kapsam süresi 2 yıldır.</p>
                </section>
                <section class="toggle">
                    <label>Ürünleriniz Avrupa Standartları'na uygun mu?</label>
                    <p>Tüm ürünlerimiz CE sertifikasına sahip olup Avrupa Standartları'na uygundur.</p>
                </section>




                <section class="toggle">
                    <label>Kullanım esnasında nelere dikkat etmeliyim ve ne gibi güvenlik tedbirleri almalıyım?</label>
                    <p>Ürünümüz kuru çekim yaptığından dolayı ıslak ortamların temizliğinde kullanılmamalıdır. Kullanım talimatında belirtilen güvenlik önlemlerinin yanı sıra tüm yedek parçaların orjinal Stark ürünlerinden temin etmenizi tavsiye ederiz.</p>
                </section>
            </div>

        </div>

    </div>

</div>
