@model Starkk.Models.Kategori

@{
    ViewBag.Title = "Kategori Sil";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Kategori Sil</h2>

<h3>Bu kategoriyi silmek istediğinizden eminmisiniz Bu kategoriye ait tüm ürünler etkilenecektir .?</h3>
<div>
    <h4>Kategori Sil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Liteye Geri Dön", "Index")
        </div>
    }
</div>
