
@{
    ViewBag.Title = "Referanslar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">

    <div class="row">
        <div class="col">
            <h2 class="text-center">STARK Merkezi Süpürge Sistemi</h2>
            <p class="hizala">Sektörde  profesyonel bir şekilde hizmet veren ekibimiz siz değerli müşterilerimizin güvenini ve beğenisini kazanarak her geçen gün çok daha büyük işlere imza atmaktadır. Bizimle birlikte çalışmayı tercih eden müşterilerimize, bize güvendikleri için teşekkür ediyoruz. Onların güveni başarılı birlikteliğimiz için bir başlangıç oluştururken çalışmalarımız için ise bizleri teşvik eden bir unsur olmaktadır. Bizi tercih eden firmalarla birlikte gücümüze güç katmaya devam edeceğiz.</p>
            <hr class="tall">
        </div>
    </div>


    <div class="row">

        <div class="col-lg-4">

            <ul class="list list-icons mt-5">
                <li><i class="fa fa-check"></i>Özka İnşaat, <b>Kayseri</b> </li>
                <li><i class="fa fa-check"></i>Suat Altın İnşaat, <b>Kayseri</b></li>
                <li><i class="fa fa-check"></i>Ödül İnşaat, <b>Kayseri</b> </li>
                <li><i class="fa fa-check"></i>Özok İnşaat, <b>Kayseri</b></li>
                <li><i class="fa fa-check"></i>Ares İnşaat, <b>Kayseri</b></li>
                <li><i class="fa fa-check"></i>İldem Camiler ve Kuran Kursları, <b>Kayseri</b></li>
                <li><i class="fa fa-check"></i>Beydili Kız Yurdu, <b>Kayseri</b></li>
                <li><i class="fa fa-check"></i>Çelik İnşaat, <b>Kayseri</b></li>
                <li><i class="fa fa-check"></i>Anka İnşaat, <b>Kayseri</b></li>
                <li><i class="fa fa-check"></i>Ares İnşaat, <b>Karabük</b></li>
            </ul>


        </div>
        <div class="col-lg-4">

            <ul class="list list-icons mt-5">

                <li><i class="fa fa-check"></i>Zilma İnşaat, <b>Antalya</b></li>
                <li><i class="fa fa-check"></i>Aquila İnşaat, <b>Antalya</b></li>
                <li><i class="fa fa-check"></i>Paktaş İnşaat, <b>Antalya</b></li>
                <li><em class="fa fa-check"></em>Alanya Selimiye Yurdu, <strong>Antalya</strong></li>
                <li><i class="fa fa-check"></i>Bilsel Eğitim Kurumu, <b>Ankara</b></li>
                <li><i class="fa fa-check"></i>Alan Yapı, <b>Ankara</b></li>
                <li><i class="fa fa-check"></i>Özgüven Anaokulu, <b>Ankara</b></li>



                <li><i class="fa fa-check"></i>Atalar İnşaat, <b>Bursa</b></li>
                <li><i class="fa fa-check"></i>Tugay İnşaat, <b>Bursa</b></li>
                <li><em class="fa fa-check"></em>Beş Yapı, <strong>Bursa</strong></li>
            </ul>


        </div>
        <div class="col-lg-4">

            <ul class="list list-icons mt-5">
                <li><i class="fa fa-check"></i>Erciyes İnşaat, <b>Adana</b></li>
                <li><i class="fa fa-check"></i>Özyürek İnşaat, <b>Adana</b></li>
                <li><em class="fa fa-check"></em>Taşansu İnşaat, <strong>Adana</strong></li>
                <li><i class="fa fa-check"></i>Susamlık Eğitim Derneği, <b>Burdur</b></li>
                <li><i class="fa fa-check"></i>Kayışlı İnşaat, <b>Burdur</b></li>
                <li><i class="fa fa-check"></i>Bucak Eğitim Kurumları, <b>Burdur</b></li>
                <li><i class="fa fa-check"></i>Meskence İnşaat, <b>Aydın</b></li>
                <li><i class="fa fa-check"></i>Meskom İnşaat, <b>Samsun</b></li>
                <li><i class="fa fa-check"></i>Zeydin Yapı, <b>Mersin</b></li>
                <li><em class="fa fa-check"></em>Umtes Group, <strong>İzmir</strong></li>
            </ul>


        </div>




    </div>




</div>