@{
    ViewBag.Title = "Email Onay";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Email adresinizi onayladığınız için teşekkür ederiz. Hemen @Html.ActionLink("Giriş Yap", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
