@{
                /**/

                ViewBag.Title = "Şifre sıfırlama";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Şifreniz başarılı şekilde sıfırlandı. Lütfen @Html.ActionLink("buraya tıklayarak giriş yapın", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
